body {
    background-color: #fff;
    font-family: 'Manrope', sans-serif;
}
.container{
    width: 1400px;
    margin: 0 auto;
    padding-left: 125px;
    padding-right: 125px;
}
h1 { 
    margin-top: 128px;
    color:black;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -1.8px;
    text-align: left;
    width: 956px;
    height: 120px;
}
.image_box{
    margin-top: 30px;
    width: 1150px;
    height: 500px;
    background-image: url('kreslo.png');
    /* padding-top: 379px;
    padding-left: 40px;
    padding-right: 680px; */
    color: #ffffff;
}
p {
    font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.6px;
}
.image_box{
    position: relative;
}
.text{
    position: absolute;
    left: 40px;
    bottom: 40px;
    width: 430px;
    height: 81px;
}
h2 {
    margin-top: 150px;
    font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.54px;
text-transform: uppercase;


}
.p1 {
    margin-top: 30px;
    display: block;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.35px;
}

.btn {
    margin-top: 30px;
    display: block;
    width: 250px;
    height: 67px;
    border: 1px solid rgb(173, 24, 24);
    border-radius: 5px;
    background-color: rgb(173, 24, 24);
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    line-height: 67px;
}
h3{
    margin-top: 150px;
    margin-bottom: 30px;
    font-size: 18px;
    letter-spacing: -0.54px;
    color: rgba(18, 18, 18, 1);
}
.projects__jk {
    margin-top: 15px;
    font-size: 30px;
    letter-spacing: -0.9px;
}
.projects__link{
    display: block;
    margin-top: 15px; 
    margin-bottom: 90px;
    font-size: 20px;
    letter-spacing: -0.6px;
    color: #AD1818;
    background-color: #fff;
}

.look_projects{
    display: block;
    border: 2px solid #AD1818;
    width: 100%;
    text-align: center;
    font-size: 30px;
    letter-spacing: -0.9px;
    padding-top: 56px;
    padding-bottom: 56px;
    color: #AD1818 ;
    margin-bottom: 150px;
}
.look_projects:hover{
background-color:rgba(173, 24, 24, 1);
color: #ffffff;

}

.services{
    color: #fff ;
    height: 1844px;
    background-color: rgba(18, 18, 18, 1);
    margin: 0 auto;
    width: 100%;
}
.services__p {
    padding-top: 151px;
    padding-bottom: 34px;
    font-size: 18px;
    letter-spacing: -0.54px;
    color: #fff;
}
.services_service{
    margin-top: 15px;
    margin-bottom: 60px;
    font-size: 30px;
    letter-spacing: -0.9px;
}
.services_service:nth-last-child(1){
    margin-bottom: 150px;
}