
html{
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    font-family: 'Manrope', sans-serif;
}
.container{
    margin: 0 auto;
    max-width: 1180px;
    padding: 0 15px;
}
h2{
    font-size: 18px;
letter-spacing: -0.54px;
}
.header{
    padding-top: 30px;
    margin-bottom: 73px;
}
.nav__logo{
    display: inline-block;
    margin-right: 554px;
}
.nav{
    display: inline-block;
}
.nav__link{
    margin-right: 57px;
    font-size: 18px;
letter-spacing: -0.54px;
display: inline-block;
}
.nav__link:hover{
    text-decoration: underline;
    color: rgb(112, 112, 112);
}
.nav__link:nth-last-child(1){
    margin-right: 0px;
}
.hero__title { 
    color:black;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -1.8px;
    text-align: left;
    max-width: 956px; 
    margin-bottom: 30px;
}
.hero__box{
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url('kreslo.png');
    color: #ffffff;
    background-size: cover  ;
    background-repeat: no-repeat;
}
p {
    font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.6px;
}

.hero__text{
    color: #fff;
    position: absolute;
    left: 40px;
    bottom: 40px;
    max-width: 430px;
    height: 81px;
}
.hero{
    margin-bottom: 150px;
}

.about__title{
margin-bottom: 30px;
}
.about{
    margin-bottom: 150px;
}
.about__text {
    display: block;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -1.35px;
    max-width: 1048px;
}

.about__btn {
    margin-top: 25px;
    display: block;
    width: 255px;
    height: 67px;
    border: 1px solid rgb(173, 24, 24);
    border-radius: 5px;
    background-color: rgb(173, 24, 24);
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    line-height: 67px;
    font-size: 20px;
    letter-spacing: -0.6px;
}
.projects{
    margin-bottom: 150px;
}
.projects__box{
    width: 100%;
    height: 450px;
    margin-bottom: 22px;
}
.projects__image{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.projects__text{
    margin-bottom: 26px;
    font-size: 30px;
    letter-spacing: -0.9px;
    color: rgba(18, 18, 18, 1);
}
.projects__title{
    margin-bottom: 30px;
}
.projects__link{
    display: block;
    font-size: 20px;
    letter-spacing: -0.6px;
    color: #AD1818;
    background-color: #fff;
}
.projects__list{
    margin-bottom: 90px;
}
.projects__btn{
    display: block;
    border: 2px solid #AD1818;
    text-align: center;
    font-size: 30px;
    letter-spacing: -0.9px;
    padding-top: 61px;
    padding-bottom: 59px;
    color: #AD1818 ;
}
.projects__btn:hover{
background-color:rgba(173, 24, 24, 1);
color: #ffffff;
}

.services{
    color: #fff ;
    background-color: rgba(18, 18, 18, 1);
padding-bottom: 150px;
padding-top: 151px;
margin-bottom: 150px;
}
.services__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between ;
    row-gap: 85px;
}
.services__title {
    display:inline-block;
    padding-bottom: 35px;
    font-size: 18px;
    letter-spacing: -0.54px;
    color: #fff;
}
.services__list{
    width: calc( 50% - 5px); 
}
.services__box{
    position: relative;
    width: 100%;
    height: 389px;
    margin-bottom: 25px;
}
.services__price{
    position:  absolute;
    top: 31px;
    left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 21px;
    height: 40px;
    border-radius: 5px;
    background: #AD1818;
}
.services__price-text{
    font-size: 22px;
    letter-spacing: -0.66px;  
}
.services__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.services__text{
    display: inline-block;
    font-size: 30px;
    letter-spacing: -0.9px;
}
.feedback{

}
.feedback__title{
margin-bottom: 30px;
}
.feedback__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 80px;

}
.feedback__box{
    width: calc( 50% - 25px); 
}
.feedback__box_big{
    max-width: 861px;
}
.feedback__box-title{
    font-size: 45px;
    letter-spacing: -1.35px;
    margin-bottom: 14px;
}
.feedback__text{
    font-size: 22px;
    letter-spacing: -0.66px;   
}




.full-image{
    position: relative;
    background-image: url(krovat.png);
    height: 717px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    margin-bottom: 185px;
}
.full-image__text{
    padding-top: 576px;
    font-size: 30px;
    letter-spacing: -0.9px;
    color: #fff;
    width: 443px;
    height: 82px;
}
.contacts__title::before{
    content: '';
    display: block;
    position: absolute;
    bottom: 34px;
    left: -5px;
    width: 24px;
    height: 24px;
    background-image: url(iphone.png);
    background-size: cover  ;
    background-repeat: no-repeat;
    background-position: 50%;
}
.contacts__title{
    position: relative;
    font-size: 18px;
    letter-spacing: -0.54px;
    margin-bottom: 32px;
}
.contacts__number{
    margin-bottom: 30px;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.8px;
}
.contacts__email {
    display: inline-block;
    font-size: 60px;
    line-height: 70px; 
    letter-spacing: -1.8px;
    opacity: 0.5;
    border-bottom: 2px solid #121212;
}
.contacts{
    margin-bottom: 150px;
}
.footer{
        color: #fff ;
        background-color: rgba(18, 18, 18, 1);
        width: 100%;
        padding-bottom: 30px;
}
.footer__nav{
    margin: 0 auto;
    width: 459px;
    padding-top: 63px;
    padding-bottom: 92px;
}
.footer__link{
    margin-right: 52px;
    font-size: 18px;
letter-spacing: -0.54px;
}
.footer__link:last-child{
    margin-right: 0;
}
.footer__text{
    text-align: center;
    font-size: 20px;
    letter-spacing: -0.6px;
    opacity: 0.5;
}
@media (max-width: 961px) {
    .container{
        margin: 0 auto;
        max-width: 1180px;
        padding: 0 15px;
    }
.hero{
    width: 100%;
padding-left: 15px;
padding-right: 17px;
margin-bottom: 120px;

}
.hero__box{
    background-position: 30% 0%;
    height: 400px;
}
.hero__title{
    width: 100%;
font-size: 50px;
letter-spacing: -1.5px;
}
.hero__text{
    max-width: 430px;
    bottom: 30px;
}
.about{
    width: 100%;
    padding-left: 15px;
    margin-bottom: 140px;
}
.about__text{
    font-size: 35px;
    letter-spacing: -1.05px;
    max-width: 690px;
}
.projects{
    width: 100%;
    padding-left: 15px;
    padding-right: 17px;
}
.projects__text{
    font-size: 25px;
letter-spacing: -0.75px;
margin-bottom: 10px;
}
.projects__list{
    margin-bottom: 80px;
}
.services{
    margin-bottom: 117px;
}
.feedback__text{
    font-size: 20px;    
    letter-spacing: -0.6px;
}
.services__wrapper{
    row-gap: 80px;
}
.services__title{
    padding-left: 31px;
}
.services__wrapper{
    padding-left: 27px;
    padding-right: 23px;
}
.services__price{
    left: 32px;
    padding: 26px;
}
.services__price-text{
    font-size: 20px;
    letter-spacing: -0.6px;
}
.services__box{
    height: 315px;
    margin-bottom: 15px;
}
.feedback__box{
    width: calc( 50% - 25px); 
}
.feedback__box_big{
    max-width: 694px;
}
.feedback__box-title{
    font-size: 35px;
    letter-spacing: -1.05px;
}
}
@media (max-width: 491px) {

    .hero{
        width: 100%;
    padding-left: 13px;
    padding-right: 12px;
    margin-bottom: 80px;
    }
    .hero__title{
        width: 100%;
        font-size: 30px;
        letter-spacing: -0.9px;
        line-height: 31.621px;
        margin-bottom: 25px;
        }
        .hero__box{
            height: 304px;
            background-position: 33% 0%;
        }
        .hero__text{
            font-size: 16px;
            letter-spacing: -0.48px;
            max-width: 312px;
            left: 15px;
            bottom: 15px;
        }
    .about{
        padding-left: 12px;
    padding-right: 17px;
    margin-bottom: 80px;
    }
    .about__title{
        font-size: 14px;
    letter-spacing: -0.42px;
    margin-bottom: 20px;
    }
    .about__text{
        font-size: 22px;
        letter-spacing: -0.66px;
        max-width: 100%;
    }
    .about__btn{
        width: 100%;
        height: 51px;
        font-size: 16px;
        letter-spacing: -0.48px;
        line-height: 47px;
    }
    .projects{
        padding-left: 13px;
        padding-right: 12px;
    }
    .projects__box {
        height: 250px;
        flex-shrink: 0;
    }
    .projects__title{
        font-size: 14px;
        letter-spacing: -0.42px;
        margin-bottom: 20px;
    }
    .projects__text{
        font-size: 18px;
        letter-spacing: -0.54px;
        margin-bottom: 11px;
    }
    .projects__list{
        margin-bottom: 49px;
    }
    .projects__btn{
        width: 100%;
        height: 100px;
        padding-top: 34px;
        padding-bottom: 61px;
    }
    .services{
        margin-bottom: 80px;
    }
    .services__title{
        font-size: 14px;
        letter-spacing: -0.42px;
        padding-left: 24px;
    }
    .services__wrapper{
        display: flex;
        row-gap: 60px;
        padding-left: 21px;
        padding-right: 15px;
    }
    .services__list{
        width: 100%; 
    }
    .services__box{
        height: 240px;
        margin-bottom: 10px;
    }
    .services__price{
        left: 24px;
        top: 24px;
        top: 23px;
        height: 30px;
        padding: 24px;
    }
    .services__price-text{
        font-size: 14px;
        letter-spacing: -0.42px;
    }
    .services__text{
    font-size: 18px;
    letter-spacing: -0.54px;
    }
    .feedback__box-title{
        margin-bottom: 22px;
    }
    .feedback__box{
        width: 100%; 
    }
    .feedback__text{
        font-size: 16px;
        letter-spacing: -0.48px;
        
    }
    .feedback__box-title{
        font-size: 25px;
        letter-spacing: -0.75px;
    }
}